In [2]:
from functions import read_data
from functions import NLP_utils

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/joaoprado/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
SAT_beers = read_data.fetch_satellite_df()
BA_beers = read_data.fetch_csv("../DATA/BeerAdvocate.tar",'beer')
RB_beers = read_data.fetch_csv("../DATA/RateBeer.tar",'beer')
BA_beers = BA_beers[BA_beers["nbr_ratings"] != 0].copy()
RB_beers = RB_beers[RB_beers["nbr_ratings"] != 0].copy()

# Keep only the maximum price, corresponding to the volume in the 'vol' column of the dataframe
SAT_beers["prix"] = SAT_beers['prix'].str.findall('[0-9]*\.?[0-9]*').apply(lambda x : max([float(price) for price in x if len(price)!=0]))
SAT_beers.head(15)

,nom,prix,url,visual,type,brasseur,from,pression,ephemere,alcool,vol
0,Brooklyn East IPA,6.0,details/P1/,/media/bieres/visuelsBoissons/Brookylnbrewery....,IPA,Brooklyn Brewery,USA,True,False,6.9,50
1,Cuvée des Trolls,6.0,details/P2/,/media/bieres/visuelsBoissons/cuveedestrolls.j...,Blonde,Brasserie Dubuisson,Belgique,True,False,7.0,50
2,Elvis Juice,6.0,details/P3/,/media/bieres/visuelsBoissons/ElvisJuice.jpg,IPA,Brewdog,Royaume-Uni,True,False,6.5,50
3,Grimbergen Blonde,6.0,details/P4/,/media/bieres/visuelsBoissons/grimbergen.jpeg,Blonde,Grimbergen,Belgique,True,False,6.7,50
4,Gurten Lager,4.5,details/P5/,/media/bieres/visuelsBoissons/Gurten-2.png,Blonde,Gurten,Suisse,True,False,4.8,50
5,Charles Quint Rubis,6.0,details/P6/,/media/bieres/visuelsBoissons/biere-charles-qu...,Ambrée,Haacht,Belgique,True,False,8.5,50
6,Lupulus Blonde,6.0,details/P7/,/media/bieres/visuelsBoissons/Lupulus.jpg,Blonde,Brasserie Lupulus,Belgique,True,False,8.5,50
7,O'Hara's Irish Stout,6.0,details/P8/,/media/bieres/visuelsBoissons/Oharas.jpeg,Stout,Carlow Brewing Company,Irelande,True,False,4.3,50
8,Schneider Weisse,6.0,details/P9/,/media/bieres/visuelsBoissons/Schneider_weisse...,Blanche,Weissen Bräuhaus G. Schneier & Sohn,Allemagne,True,False,5.4,50
9,Valaisanne Pale Ale,6.0,details/P10/,/media/bieres/visuelsBoissons/valaisanne-pale-...,Pale Ale,Brasserie Valaisanne,Suisse,True,False,5.2,50
10,Wittekop,5.0,details/P11/,/media/bieres/visuelsBoissons/Wittekop_Z3gnZRD...,Blanche,Amstein,Suisse,True,False,5.0,50
11,Djéronimo,6.0,details/P12/,/media/bieres/visuelsBoissons/BFM.webp,White IPA,BFM,Suisse,True,False,5.3,50
12,Surette,16.0,details/B1/,/media/bieres/visuelsBoissons/atuetetesurette2...,Sour,À tue-tête,Suisse,False,False,6.8,75
13,Hopbliminal Messages,6.5,details/B2/,/media/bieres/visuelsBoissons/hopbliminalmessa...,New England IPA,Amundsen,Norvège,False,False,5.5,33
14,Andechs Weissbier,4.5,details/B3/,/media/bieres/visuelsBoissons/biere-andechs-we...,Blanche,Klosterbrauerei Andechs,Allemagne,False,False,5.5,50

In [4]:
sat_queries = NLP_utils.querify(SAT_beers)
#The queries should have the same document structure as the corpus. 
for index, biere in SAT_beers.iterrows():
    sat_queries[index] = (NLP_utils.tokenize(biere['nom']) +" "  + NLP_utils.tokenize(biere['brasseur']) + " " + NLP_utils.tokenize(str(biere['alcool'])))

In [5]:
#Take a lot of time unfortunately
BA_results = NLP_utils.vector_space_retrieval(sat_queries,BA_beers)
RB_results =  NLP_utils.vector_space_retrieval(sat_queries,RB_beers)
BA_results.columns = 'BA_' + BA_results.columns.values
RB_results.columns = 'RB_' + RB_results.columns.values

Documents tokenized
Documents tokenized

In [53]:
import pandas as pd

concat_result = pd.concat([BA_results.reset_index(),RB_results.reset_index()],axis=1)

concat_result.head(1)

,index,BA_beer_id,BA_beer_name,BA_brewery_id,BA_brewery_name,BA_style,BA_nbr_ratings,BA_nbr_reviews,BA_avg,BA_ba_score,...,RB_nbr_ratings,RB_overall_score,RB_style_score,RB_avg,RB_abv,RB_avg_computed,RB_zscore,RB_nbr_matched_valid_ratings,RB_avg_matched_valid_ratings,RB_similarity
0,119976,147,Brooklyn East India Pale Ale,45,Brooklyn Brewery,English India Pale Ale (IPA),2468,986,3.65,83.0,...,2229,77.0,55.0,3.4,6.9,3.394616,NaN,0,NaN,0.926097

In [54]:
from IPython.display import display_html 

results_df = NLP_utils.display_results_df(SAT_beers, concat_result,"nom",["BA_beer_name","RB_beer_name","BA_similarity","RB_similarity"])
results_styler = results_df[['nom',"BA_beer_name","RB_beer_name"]].style.apply(lambda x : NLP_utils.color(x,results_df[["BA_similarity","RB_similarity"]]),axis=None)
display_html(results_styler._repr_html_(),raw = True)

,nom,BA_beer_name,RB_beer_name
0,Brooklyn East IPA,Brooklyn East India Pale Ale,Brooklyn East IPA / India Pale Ale
1,Cuvée des Trolls,Cuvée Des Trolls,Dubuisson Cuvée des Trolls
2,Elvis Juice,Elvis Juice,Three Magnets Juice Juice Juice Storm Triple IPA
3,Grimbergen Blonde,Grimbergen Blonde,Grimbergen Blonde
4,Gurten Lager,Gurten BäreGold,Gurten Lager Hell
5,Charles Quint Rubis,Charles Quint Blonde / Keizer Karel Blond,Charles Quint Rouge Rubis / Keizer Karel Robijn Rood
6,Lupulus Blonde,Lupulus,Keltius / La Quince Humulus Lupulus Kince Lupulus
7,O'Hara's Irish Stout,O'Hara's Irish Stout,Carlow OHaras Irish Stout
8,Schneider Weisse,Schneider Weisse Tap 7 Unser Original,Schneider Weisse Original
9,Valaisanne Pale Ale,Valaisanne Lager,Valaisanne Pale Ale
10,Wittekop,Wheat Beer,Wittekop (2007 - )
11,Djéronimo,BFM Procrastinator Batch #3 · Belgian Specialty Ale,BFM Pils
12,Surette,Peach Surette,Crooked Stave Autumn Surette
13,Hopbliminal Messages,Medium & Message,Amundsen I Love Rye
14,Andechs Weissbier,Andechs Weissbier Dunkel,Andechser Weissbier Hell
15,Jungle Joy,Delta,Brussels Beer Project Jungle Joy
16,Bernard Celebration Lager,Bernard Celebration Lager,Bernard Černý Leák 12° / Bernard Dark Lager
17,Alex le rouge,Cuvee Alex Le Rouge,BFM Cuvee Alex Le Rouge Zymatore
18,L’Abbaye de Saint Bon-Chien,Abbaye De Saint Bon-Chien,BFM Abbaye de Saint Bon-Chien (2015)
19,Saison √225,√225 Saison - Grapes,BFM √225 Saison
20,Bière de Miel,Bière De Miel Biologique,Dupont Biere de Miel (Biologique)
21,Kriek Mariage Parfait,Boon Oude Kriek Mariage Parfait,Boon Kriek Mariage Parfait
22,Punk IPA,Punk IPA,Flying Dog / Brewdog / Push Brewing Punk Bitch IPA
23,Ijwit,IJwit,t IJ IJwit
24,Chimay bleue,Chimay Grande Réserve (Blue),Chimay Bleue (Blue) / Grande Réserve
25,Chimay dorée,Dorée,Chimay Dorée / Spéciale du Potaupré
26,Chimay rouge,Chimay Première (Red),Chimay (Red / Rouge / Ale / Première)
27,Colomba,Colomba,Pietra Colomba Blanche
28,Delirium Tremens,Delirium Tremens,Delirium Tremens
29,Duchesse de Bourgogne,Duchesse De Bourgogne,Verhaeghe Duchesse De Bourgogne
30,Duvel,Duvel Belgian Golden Ale,Duvel
31,L'Ambrée,Blanche Du Jorat,Jorat Ambrée des Brigands du Jorat
32,Tripel Karmeliet,Tripel Karmeliet,Tripel Karmeliet
33,Taras Boulba,Taras Boulba,De la Senne Taras Boulba
34,Faro,Lindemans Faro Lambic,Lindemans Faro
35,Gueuze Cuvée René,Lindemans Gueuze Cuvée René,Lindemans Gueuze Cuvée René
36,Kriek Cuvée René,Lindemans Oude Kriek Cuvée René,Lindemans Kriek Cuvée René
37,Kriek,Lindemans Kriek,Lindemans Kriek
38,Pêcheresse,Lindemans Framboise,Lindemans Pêche Lambic (Pêcheresse)
39,Lupulus Hopera,Lupulus Hopera,Keltius / La Quince Humulus Lupulus Kince Lupulus
40,Orval,Orval Trappist Ale,Orval
41,Pietra,Pietra,Pietra
42,Riegele 2+3,Riegele Imperial Stout,Riegele Alkoholfrei
43,Rochefort 8,Trappistes Rochefort 8,Rochefort Trappistes 8
44,Rochefort 10,Trappistes Rochefort 10,Rochefort Trappistes 10
45,Oude Gueuze,Timmermans Oude Gueuze Limited Edition,Timmermans Oude Gueuze
46,Garden of Eden,Garden Of Eden,To Øl Garden of Eden
47,Gose to Hollywood,Gose To Hollywood,To Øl Gose To Hollywood
48,Dr Raptor,Raptor IPA,Uiltje Dr. Raptor
49,Baltic porter,BRLO Porter,BRLO Porter
50,New Zealand,New Zealand IPA,CRAK New Zealand
51,Dag & Dauw,Dag & Dauw,Largum Dauw
52,Nevermore,Nevermore,La Débauche Nevermore
53,Sourtime blackcurrant,Maryensztadt Sweet Sixteen,Maryensztadt Sourtime Czarna Porzeczka
54,Caractère rouge,Rodenbach Caractère Rouge,Rodenbach Caractère Rouge
55,Westmalle Dubbel,Westmalle Trappist Dubbel,Westmalle Dubbel
56,Westmalle Tripel,Westmalle Trappist Tripel,Westmalle Tripel
57,P9,Garage IPA,Garage IPA
58,Pornstar,People's Pale,Hoppy People Pornstar
59,Uto-Pig,Pale Ale,the Black Pig la Novice - Sun of a Beach
60,Pig-Up,Black IPA,the Black Pig la Novice - Sun of a Beach
61,Robustus 6,Robustus 6,Riegele BierManufaktur Robustus 6
62,Noctus 100,Noctus 100,Riegele BierManufaktur Noctus 100
63,Katerfrühstück,Schoppe Black Flag,Schoppe Katerfrühstück
64,Big Mountain Pale Ale,Oktoberfest,Big Bear Mountain Pub Pale Ale
65,Diversion,Diversion,La Nébuleuse Grizzly Beer

In [37]:
SAT_beers.head(1)

,nom,prix,url,visual,type,brasseur,from,pression,ephemere,alcool,vol
0,Brooklyn East IPA,6.0,details/P1/,/media/bieres/visuelsBoissons/Brookylnbrewery....,IPA,Brooklyn Brewery,USA,True,False,6.9,50